@import './nullstyle.css';

body{
   font-family: 'Roboto', sans-serif;
}

.table{
   margin: 0 auto;
   padding: 0 20px;
   width: 50vw;
   position: relative;
}

.table__item{
   margin: 20px auto;
   padding: 10px 20px 40px 20px;
   width: 400px;
   border: 1px solid #000;
   border-radius: 5px;
}

.table__item-name{
   font-size: 20px;
   font-weight: 500;
}

.table__item-description{
   line-height: 20px;
}

.table__item-description p{
   padding: 5px 0px;
}

.table__item-description.hidden{
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
    line-height: 20px;
    height: 40px;
}

.table__item-description .table__item-description-button{
   border-radius: 5px;
   position: absolute;
   width: 120px;
   font-size: 15px;
   line-height: 25px;
   color: white;
   background-color: royalblue;
   transition: .3s all ease;

}

.table__item-description .table__item-description-button:hover{
   background-color:#00BFFF;
}



.eye-color__container{
   margin-top: 60px;
   font-size: 20px;
   font-weight: 500;
}


.table__item-name{
   display: flex;
   justify-content: space-between;
}

/* .table__editing-button{
   cursor: pointer;
   position: relative;
   right: 0;
   height: 10px;
   width: 10px;
}

.table__editing-button::before,
.table__editing-button::after{
   position: absolute;
   content: '';
   height: 2px;
   width: 10px;
   background-color: black;
   color: black;
}

.table__editing-button::before{
   top: 3px;
 transform: rotate(90deg);
}

.table__editing-button::after{
   top: 3px;
} */

.table__filter{
   position: fixed;
   left: 50px;
}

.table__sort{
   position: fixed;
   right: 50px;
}


/* .table__button-container{

} */

.table__button{
   color: white;
   border-radius: 5px;
   width: 100px;
   line-height: 24px;
   font-size: 18px;
   font-weight: 500;
   margin: 10px 0px;
   background-color: royalblue;
   transition: .5s all ease;
}

.table__button:hover{
   background-color:#00BFFF;
}

.table__button.active{
   background-color: red;
}


.table__button.active:hover{
   background-color: #8B0000;
}

.controls{
   text-align: center;
   font-size: 20px;
}



.hide{
   display: none !important;
}
