@import './nullstyle.css';

body{
   font-family: 'Roboto', sans-serif;
}

.table{
   margin: 0 auto;
   padding: 0 20px;
   width: 50vw;
}

.table__item{
   margin: 20px auto;
   padding: 10px 20px 40px 20px;
   width: 400px;
   border: 1px solid #000;
   border-radius: 5px;
}

.table__item-name{
   font-size: 20px;
   font-weight: 500;
}

.table__item-description{
   line-height: 20px;
}

.table__item-description p{
   padding: 5px 0px;
}

.table__item-description.hidden{
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
    line-height: 20px;
    height: 40px;
}

.table__item-description .table__item-description-button{
   border-radius: 5px;
   position: absolute;
   width: 120px;
   font-size: 15px;
   line-height: 25px;
   color: white;
   background-color: royalblue;
   transition: .3s all ease;

}

.table__item-description .table__item-description-button:hover{
   background-color:#00BFFF;
}

.table__filter{
   position: fixed;
}


.eye-color__container{
   margin-top: 60px;
   font-size: 20px;
   font-weight: 500;
}


.table__item-name{
   display: flex;
   justify-content: space-between;
}


.table__sort-button{
   width: 100px;
   height: 50px;
   /* position: absolute;
   right: 0; */
}